
body {
    font: 12px/1.5 Microsoft YaHei,arial,sans-serif,'宋体';
    margin:0;
    padding: 0;
}
container, aside, search, header, main, info, path, content, project, logo, login, menu{
    display:block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
container {
    min-width:1200px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
}

header {
    background-color:#2189bf;
    width:100%;
    position:absolute;
    height: 56px;
}
logo {
    background-image: url("../img/task9_logo.png");
    width:36px;
    height:36px;
    position:absolute;
    top:10px;
    left:50px;
}
search {
    position:raletive;
    float:left;
    
}
search input {
    background-color: white;
    border:none;
    padding: 0 10px 0 30px;
    border-radius: 50px;
    height: 30px;
    width:170px;
    box-sizing: border-box;
}
search img {
    position:absolute;
    top:7px;
    left:10px;
}
login {
    float:right;
    position:relative;
    top:7px;
    right:-20px;  
}
header div{
    position:absolute;
    top:14px;
    right:100px;
}
.content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
}
aside {
    background-color: #2a2e3d;
    width:260px;
    height:100%;
    position:relative;
}

info {
    height: 150px;
}
.user-photo {
    width:40%;
    height:90px;
    overflow:auto;
    padding-top:16px;
    box-sizing: border-box;
    float:left;
}
.user-photo div div{
    width:56px;
    height: 56px;
    border-radius:50%;
    background-color: #b2aaad;
    border: solid 2px #2a2e3d;
    box-sizing: border-box;
}
.photo {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    border: 1px solid #b2aaad;
    float:right;
}
.nickname {
    width:60%;
    float:right;
    height:90px;
    line-height: 90px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color:white;
}
.half {
    width:50%;
}
info p {
    color: #6e8095;
    margin:0;
}
.collection p{
    padding-left:70px;
    box-sizing: border-box;
    border-right: 1px solid  #313645;
}
.fans p {
    padding-left:35px;
    
}
menu {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    color:#6e8095;
    padding:0;
    margin:0;    
}
menu dl {
    padding: 5px 0 5px 45px;
}
.child dl {
    padding: 0;
}
menu dl:first-child {
    background: #383d4e;
    
} 
main {
    background-color: #eeeeed;
    height: 100%;
    position:absolute;
    left:260px;
    top:0;
    right:0;
    overflow-y: auto;
}
path {
    height:30px;
    background-color: white;
    width: 100%;
}
.filter {
    height:70px;
    background-color: white;
    margin-bottom: 8px;
}
content {
    margin: 0 auto;
    padding: 20px 60px;
    
}
.history {
    height:65px;
    width:100%;
    position:relative;
    margin-bottom: 8px;
}
.list {
    position:relative;
    height:100%;
    margin-right:140px;
}
.left-arrow {
    position:absolute;
    left:0;
}
.right-arrow {
    position:absolute;
    right:0;
}

.list div {
    position:absolute;
    left:38px;
    right:35px;
    box-sizing:border-box;
}
item {
    width:16.6%;
    height: 65px;
    background-color: white;
    display:block;
    box-sizing:border-box;
    border-right: 5px solid #eeeeed;
    float:left
}
content div a {
    background-color: white;
    width:30px;
    height: 65px;
    display:inline-block;
}
.history-button {
    display:inline-block;
    width:130px;
    height:65px;
    background-color: white;
    position: absolute;
    right:0;
    top:0;
}
.statistic {
    /*这里为什么不能用width:100%*/    
    position:relative;
    /*float:left;*/
    /*width:100%;*/
    /*height:100%;*/
    margin-left: -2%;
    overflow: auto;
    margin-bottom: 8px;
}
.item {
    float:left;
    width:25%;
    height:75px;
    padding-left:2%;
    position:relative;
    box-sizing:border-box;
}

.item div {
    background-color: white;
    height:90%;
    width: 90%;
    position:absolute;
    bottom: 0;
    right: 0;
}
group {
    overflow:auto;
}
.left {
    float:left;
}
.right {
    float:right;
}
.table {
    height:317px;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #d7d5d6;
    overflow: hidden;
}
.large {
    width:59%;    
}
.small {
    width:40%;
}
.title {
    background-color: #f4f5f6;
    height:39px;
    border-bottom: 1px solid #e6e6e8;
    padding-left:20px;
    line-height: 39px;
    color: #aaa;
    
}
