
body {
    font: 12px/1.5 Microsoft YaHei,arial,sans-serif,'宋体';
    margin:0;
    padding: 0;
}
container, aside, button, change, search, header, block, main, info, path, content, project, logo, login, menu{
    display:block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
container {
    min-width:1200px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
}

header {
    background-color:#2189bf;
    width:100%;
    position:absolute;
    height: 56px;
}
logo {
    background-image: url("../img/task9_logo.png");
    width:36px;
    height:36px;
    position:absolute;
    top:10px;
    left:50px;
}
search {
    position:raletive;
    float:left;
    
}
search input {
    background-color: white;
    border:none;
    padding: 0 10px 0 30px;
    border-radius: 50px;
    height: 30px;
    width:170px;
    box-sizing: border-box;
}
search img {
    position:absolute;
    top:7px;
    left:10px;
}
login {
    float:right;
    position:relative;
    top:7px;
    right:-20px;  
}
header div{
    position:absolute;
    top:14px;
    right:100px;
}
.content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
}
aside {
    background-color: #2a2e3d;
    width:260px;
    height:100%;
    position:relative;
}

info {
    height: 150px;
}
.user-photo {
    width:40%;
    height:90px;
    overflow:auto;
    padding-top:16px;
    box-sizing: border-box;
    float:left;
}
.user-photo div div{
    width:56px;
    height: 56px;
    border-radius:50%;
    background-color: #b2aaad;
    border: solid 2px #2a2e3d;
    box-sizing: border-box;
}
.photo {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    border: 1px solid #b2aaad;
    float:right;
}
.nickname {
    width:60%;
    float:right;
    height:90px;
    line-height: 90px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color:white;
}
.half {
    width:50%;
}
info p {
    color: #6e8095;
    margin:0;
}
.collection p{
    padding-left:70px;
    box-sizing: border-box;
    border-right: 1px solid  #313645;
}
.fans p {
    padding-left:35px;
    
}
menu {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    color:#6e8095;
    padding:0;
    margin:0;    
}
menu dl {
    padding: 5px 0 5px 45px;
}
menu dl, dt, dd {
    line-height: 28px;
    margin:0;
}
menu img {
    position:relative;
    top:2px;
    left:-2px;
}
.active {
    color:white;
}

.child dl {
    padding-left: 28px;
}
.child dl dd {
    padding-left: 28px;
}
menu dl:first-child {
    background: #383d4e;
} 
main {
    background-color: #eeeeed;
    height: 100%;
    position:absolute;
    left:260px;
    top:0;
    right:0;
    overflow-y: auto;
}
path {
    height:30px;
    background-color: white;
    width: 100%;
    padding-left:30px;
    box-sizing: border-box;
    line-height: 30px;
}
.filter {
    height:70px;
    background-color: white;
    margin-bottom: 8px;
    overflow:auto;
    position:relative;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
    padding-top:2px;
}
.filter div:nth-child(-n + 4) {
    width:25%;
    float:left;
    height: 70px;
    box-sizing: border-box;
    position:relative
}
.filter div:first-child {
    box-sizing: border-box;
    padding: 10px 0 0 6%;    
}
change {
    position:absolute;
    left:160px;
    top:16px;
}
change span {
    display:inline-block;
    position:absolute;
    top:9px;
    left:13px;
    color:white;
}
.row-one {
    box-sizing: border-box;
    margin:10px 0 0 0;
}
.row-two {
    box-sizing: border-box;
    margin:4px 0 0 0;
}
.filter div:nth-child(2) span {
    width:120px;
    display: inline-block;
}
.row-one span:first-child {
    width:130px;
    margin: 0 5px;
}
.row-one span:nth-child(2) {
    width: 70px;
    margin:0 5px;
}
.row-two span:nth-child(2) {
    width:118px;
    margin: 0 5px;
}
.row-two span:nth-child(1) {
    width: 70px;
    margin:0 5px;
}
.filter button {
    position:absolute;
    right:30px;
    top:22px;
    border: solid #2189bf 1px;
    background-color:#2189bf;
    color:white;
    font-size: 12px;
    padding: 3px 12px;
    border-radius: 2px;
}
content {
    margin: 0 auto;
    padding: 20px 60px;
    overflow: auto;
}
.select {
    position:relative;
    border: 1px solid #aaa;
    height:23px;
    padding: 3px 15px 3px 6px;
    box-sizing: border-box;
    display:inline-block;
}
.select img {
    position:absolute;
    right: 4px;
    top:9px;
}
.history {
    height:65px;
    width:100%;
    position:relative;
    margin-bottom: 8px;
}
item {
    box-sizing: border-box;
    position:relative;
}
item p {
    margin:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align: center;
    padding:6px;
}
item h2 {
    position:absolute;
    top:10px;
    font-size: 22px;
    color:#ec6500;
    text-align: center;
    left:0;
    right:0;
}
div item:first-child p{
    border-top:4px solid #2189bf;
}
.list {
    position:relative;
    height:100%;
    margin-right:140px;
}
.left-arrow {
    position:absolute;
    left:0;
}
.left-arrow img {
    position:absolute;
    top:24px;
    left:8px;
}
.right-arrow img {
    position:absolute;
    top:24px;
    left:8px;
}
.right-arrow {
    position:absolute;
    right:0;
}
.list div {
    position:absolute;
    left:38px;
    right:35px;
    box-sizing:border-box;
}
item {
    width:16.6%;
    height: 65px;
    background-color: white;
    display:block;
    box-sizing:border-box;
    border-right: 5px solid #eeeeed;
    float:left
}
content div a {
    background-color: white;
    width:30px;
    height: 65px;
    display:inline-block;
}
.history-button {
    display:inline-block;
    width:130px;
    height:65px;
    background-color: white;
    position: absolute;
    right:0;
    top:0;
    box-sizing: border-box;
    padding: 17px; 
    line-height: 32px;
    text-align: vertical-center;
}
.history-button span {
    display:inline-block;
    position:relative;
    top:-8px;
    left:5px;
}
.statistic {
    /*这里为什么不能用width:100%*/    
    position:relative;
    /*float:left;*/
    /*width:100%;*/
    /*height:100%;*/
    margin-left: -2%;
    overflow: auto;
    margin-bottom: 8px;
}
.item {
    float:left;
    width:25%;
    height:75px;
    padding-left:2%;
    position:relative;
    box-sizing:border-box;
}
.filter div:nth-child(1) {
    width:25%;
}
.item div {
    box-sizing: border-box;
}
.filter div:nth-child(2) {
    width:25%;
}
.filter div:nth-child(3) {
    width:40%;
}
.filter div:nth-child(4) {
    width:10%;
}
.item div {
    box-sizing: border-box;
}
.green {
    border-left: #43b29e 3px solid;
}
.blue {
    border-left: #2189bf 3px solid;
}
.red {
    border-left: #d04a36 3px solid;
}
.byellow {
    background-color: #e2cd46;
}
block {
    width:60px;
    height:46px;
    position:absolute;
    top:10px;
    right:10px;
}
.item div:first-child {
    padding-left:10px;
    box-sizing: border-box;
}
.bgreen {
    background-color: #43b29e;
}
.bblue {
    background-color: #2189bf;
}
.bred {
    background-color: #d04a36;
}
.yellow {
    background-color: #e2cd46;
}
.item div {
    background-color: white;
    height:90%;
    width: 90%;
    position:absolute;
    bottom: 0;
    right: 0;
}
group {
    overflow:auto;
}
.left {
    float:left;
}
.right {
    float:right;
}
.table {
    height:317px;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #d7d5d6;
    overflow: hidden;
}
.large {
    width:59%;    
}
.small {
    width:40%;
}
.title {
    background-color: #f4f5f6;
    height:39px;
    border-bottom: 1px solid #e6e6e8;
    padding-left:20px;
    line-height: 39px;
    color: #aaa;
    
}
